:root {
    --rating-on-hover:#deb217;
    --rating-on-checked:#ffc700;
    --rating-after-checked:gold;
}
.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rating-div {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rating-div:not(:checked) > input {
   display: none;
}
.rating-div:not(:checked) > label {
    float:right;
    margin:0 3px;
    font-size: 1.565rem;
}

.rating-div > input:checked ~ label {
    color: var(--rating-on-checked);    
}
.rating-div:not(:checked) > label:hover,
.rating-div:not(:checked) > label:hover ~ label {
    color: var(--rating-on-hover);  
}
.rating-div > input:checked + label:hover,
.rating-div > input:checked + label:hover ~ label,
.rating-div > input:checked ~ label:hover,
.rating-div > input:checked ~ label:hover ~ label,
.rating-div > label:hover ~ input:checked ~ label {
    color: var(--rating-after-checked);
}
