:root {
    --primary-color: #2563ebff;
    --secondary-color: #095256ff;
    --white: #ffffff;
}

.flex
{
    display: flex;
}

.flex.justify-content-center {
    justify-content: center;
}
.flex.align-items-center
{
    align-items: center;
}