:root {
    --primary-color: #2563ebff;
    --secondary-color: #095256ff;
    --white: #ffffff;
}

.position-relative {
    position: relative;
}
.container {
    width: 60%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
}

