.alert {
    padding:0.75rem 1.25rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    max-height: 2rem;
}
.alert-primary {
    background-color: #7fe7ff;
    color:#1c3940;
    border-color: #78dfd7;
}
.alert-danger {
    background-color: #ff232387;
    color:#6a0f0feb;
    border-color: #d3939de8;
}

.alert-warning {
    background-color: #ffb72387;
    color: #6a0f0feb;
    border-color: #d3939de8;
}

.alert-success {
    background-color: #59eca5d4;
    color:#1e4a19fa;
    border-color: #37dd45;
}
.alert-info {
    background-color: #59a4ecd4;
    color:#0a131cd4;
    border-color: #87cdef;  
}