<<<<<<< HEAD
.text-center {
    text-align: center;
}
=======
.container {
    width: 65%;
    margin: 0 auto;
    max-width: 400px;
}

>>>>>>> a446a9a383694826fb09f312b358d73017b8d8e8
.img-responsive {
    height: auto;
    max-width: 100%;
} 

.mg-zero-auto
{
    margin: 0 auto;
}
.img-rounded {
    border-radius: 50%;
}
.display-block{
    display: block;
}
