.text-center {
    text-align: center;
}
.img-responsive {
    height: auto;
    max-width: 100%;
} 

.mg-zero-auto
{
    margin: 0 auto;
}
.img-rounded {
    border-radius: 50%;
}
.display-block{
    display: block;
}
