<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="image.css">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <h4>Responsive Image</h4>
        <img class="img-responsive  mg-zero-auto display-block" src="https://picsum.photos/300/500" alt="">

    </div>
    <div class="container">
        <h4>Rounded Responsive image</h4>
        <p class="text-center">Rounded image need to have same height and width to give perfect circular image.</p>
        <img class="img-responsive img-rounded mg-zero-auto display-block" src="https://picsum.photos/200/200" alt="">
    </div>


</body>
</html>