<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="text-utilities.css">
    <title>Document</title>
</head>
<body>
    <h1 class="h1">Heading 1</h1>
    <h2 class="h2">Heading 2</h2>
    <h3 class="h3">Heading 3</h3>
    <h4 class="h4">Heading 4</h4>
    <h5 class="h5">Heading 5</h5>
    <h6 class="h6">Heading 6</h6>


    <h3>Small Text</h3>
    <p class="small-text">This is a small text </p>
    <p>This is a small text </p>

    <p class="grey-text">This is a grey text </p>

    <p class="text-center">This is a grey text </p>


    <ul class="list-collection list-style-none">
        <div class="list-heading">
            List A
        </div>
        <li class="list-item">Item A</li>
        <li class="list-item">Item B</li>
        <li class="list-item">Item C</li>
        <li class="list-item">Item D</li>
    </ul>

</body>
</html>