<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8706ae3761.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="card.css">
    <title>Document</title>
</head>
<body>
    
    <h4>Card with Badges</h4>

    <h4>Card with Danger Badge</h4>

    <div class="card">
        <div class="card-badge-container danger">
            <i class="fas fa-exclamation-circle"></i>
            <span> Warning!</span>
        </div>
        <div class="card-content">

            <img class="card-img" src="https://picsum.photos/200/300" alt="">
            <div class="card-header">
                Card Title
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda delectus quis magnam quia eaque. Delectus ex temporibus voluptate quisquam nulla.</p>
            </div>
            <div class="card-footer">
                This is a footer
            </div>
        </div>
    </div>
    <h4>Card with Success Badge</h4>

    <div class="card">
        <div class="card-badge-container success">
            <i class="far fa-gem"></i>
            <span>Brand New !</span>
        </div>
        <div class="card-content">

            <img class="card-img" src="https://picsum.photos/200/300" alt="">
            <div class="card-header">
                Card Title
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda delectus quis magnam quia eaque. Delectus ex temporibus voluptate quisquam nulla.</p>
            </div>
            <div class="card-footer">
                This is a footer
            </div>
        </div>
    </div>

    <h4>Card with Primary Badge</h4>

    <div class="card">
        <div class="card-badge-container primary">
            <i class="far fa-id-badge"></i>
            <span>ID </span>
        </div>
        <div class="card-content">

            <img class="card-img" src="https://picsum.photos/200/300" alt="">
            <div class="card-header">
                Card Title
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda delectus quis magnam quia eaque. Delectus ex temporibus voluptate quisquam nulla.</p>
            </div>
            <div class="card-footer">
                This is a footer
            </div>
        </div>
    </div>

    <h4>Card with Dismiss</h4>
    <i class="fa-solid fa-circle-xmark"></i>
    <div class="card">
        <svg class="card-dismiss" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
          </svg>
        <div class="card-content">
            <div class="card-header">
                Card Title
            </div>
            <img class="card-img" src="https://picsum.photos/200/300" alt="">
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda delectus quis magnam quia eaque. Delectus ex temporibus voluptate quisquam nulla.</p>
            </div>
            <div class="card-footer">
                This is a footer
            </div>
        </div>
    </div>


    <h4>Card with Text Overlay</h4>

    <div class="card">
        <svg class="card-dismiss" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
          </svg>
        <div class="card-content">
            <div class="card-header">
                Card Title
            </div>
            <div class="card-img-container position-relative">

                <img class="card-img" src="https://picsum.photos/200/300" alt="">
                <div class="card-img-overlay">
                    <h3>Card Pic</h3>
                    <p>Info About the pic...</p>
                </div>

            </div>

            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda delectus quis magnam quia eaque. Delectus ex temporibus voluptate quisquam nulla.</p>
            </div>
            <div class="card-footer">
                This is a footer
            </div>
        </div>
    </div>


    <h4>Horizontal Card</h4>


    <div class="card card-horizontal">
        <div class="card-content relative">
            <div class="card-container">
                <div class="card-section-a">
                    <img class="card-img" src="https://picsum.photos/200/300" alt="">
                </div>
                <div class="card-section-b position-relative">
                    <svg class="card-dismiss horizontal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                      </svg>
                    <div class="card-header">
                        Card Title
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda delectus quis magnam quia eaque. Delectus ex temporibus voluptate quisquam nulla.</p>
                    </div>
                    <div class="card-footer">
                        This is a footer
                    </div>
                </div>

            </div>

        </div>
    </div>

    <h4>Horizontal Card with Shadow</h4>


    <div class="card card-horizontal card-shadow">
        <div class="card-content relative">
            <div class="card-container">
                <div class="card-section-a">
                    <img class="card-img" src="https://picsum.photos/200/300" alt="">
                </div>
                <div class="card-section-b position-relative">
                    <svg class="card-dismiss horizontal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                      </svg>
                    <div class="card-header">
                        Card Title
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda delectus quis magnam quia eaque. Delectus ex temporibus voluptate quisquam nulla.</p>
                    </div>
                    <div class="card-footer">
                        This is a footer
                    </div>
                </div>

            </div>

        </div>
    </div>

    <h4>Horizontal Card with Low Shadow</h4>


    <div class="card card-horizontal card-shadow-low">
        <div class="card-content relative">
            <div class="card-container">
                <div class="card-section-a">
                    <img class="card-img" src="https://picsum.photos/200/300" alt="">
                </div>
                <div class="card-section-b position-relative">
                    <svg class="card-dismiss horizontal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                      </svg>
                    <div class="card-header">
                        Card Title
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda delectus quis magnam quia eaque. Delectus ex temporibus voluptate quisquam nulla.</p>
                    </div>
                    <div class="card-footer">
                        This is a footer
                    </div>
                </div>

            </div>

        </div>
    </div>

    <h4>Horizontal Card with Large Shadow</h4>


    <div class="card card-horizontal card-shadow-large">
        <div class="card-content relative">
            <div class="card-container">
                <div class="card-section-a">
                    <img class="card-img" src="https://picsum.photos/200/300" alt="">
                </div>
                <div class="card-section-b position-relative">
                    <svg class="card-dismiss horizontal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                      </svg>
                    <div class="card-header">
                        Card Title
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda delectus quis magnam quia eaque. Delectus ex temporibus voluptate quisquam nulla.</p>
                    </div>
                    <div class="card-footer">
                        This is a footer
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
</html>