<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="../button/button.css">
    <link rel="stylesheet" href="../responsive-image-component/image.css">
    <link rel="stylesheet" href="./grid.css">
    <title>
        Grid Compnent
    </title>
</head>
<body>

    <div class="container">
    
        <h3>Grid with two items.</h3>
        <p>This is a basic grid layout containing two child elements.</p>
        <p>This layout can be created with grid-column-2 and grid-container class together.</p>
        <div class="container">
            <div class="grid-example">
                <div class="grid-container grid-column-2 grid-gap-example">
                    <div class="grid-items grid-item-example">
                    </div>
                    <div class="grid-items grid-item-example">
                    </div>
                </div>
            </div>
        </div>

        <div class="code-example">
            <img class="img-responsive" src="./grid-example-1.png" alt="">
        </div>

        <h3>Grid with three items.</h3>
        <p>This layout can be created with grid-column-3 and grid-container class together.</p>
        <div class="container">
            <div class="grid-example">
                <div class="grid-container grid-column-3 grid-gap-example ">
                    <div class="grid-items grid-item-example">
                    </div>
                    <div class="grid-items grid-item-example">
                    </div>
                    <div class="grid-items grid-item-example">
                    </div>
                </div>
            </div>
        </div>
        <div class="code-example">
            <img class="img-responsive" src="./grid-example-2.png" alt="">
        </div>
    </div>
</body>
</html>