<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../smartui.css">
    <link rel="stylesheet" href="./intro.css">
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.0/build/styles/default.min.css">
    <title>Installation</title>
</head>
<body>
    <div class="header">
        <nav class="navbar">
            <div class="navbar-brand">
              <a href="#">Smart UI</a>
            </div>
            <ul class="navbar-list-collection">
                <li class="navbar-list-item"><a href="#">Home</a></li>
                <li class="navbar-list-item"><a href="#">Profile</a></li>
                <li class="navbar-list-item"><a href="#">Setting</a></li>
            </ul>
        </nav>
    </div>

    <div class="web-page">
        <div class="aside">
            <div class="list-collection-container">
    
                <ul class="list-collection list-style-none">
                    <div class="list-heading">
                       Get Started
                    </div>
                    <li class="list-item active">
                        <a href="./intro.html">Installation</a>
                    </li>
                </ul>
            </div>
            <div class="list-collection-container">
    
                <ul class="list-collection list-style-none">
                    <div class="list-heading">
                       Components
                    </div>
                    <li class="list-item"><a href="./alert/alert.html">Alert</a></li>
                    <li class="list-item"><a href="./avatar-component/avatar.html">Avatar</a></li>
                    <li class="list-item"><a href="./badge/badge.html">Badge</a></li>
                    <li class="list-item"><a href="./button/button.html">Button</a></li>
                    <li class="list-item"><a href="./card-component/card.html">Card</a></li>
                    <li class="list-item"><a href="./grid-component/grid.html">Grid</a></li>
                    <li class="list-item"><a href="./input-component/input.html">Input</a></li>
                    <li class="list-item"><a href="./navigation-component/navigation.html">Navigation</a></li>
                    <li class="list-item"><a href="./responsive-image-component/image.html">Image</a></li>
                    <li class="list-item"><a href="./rating-component/rating.html">Rating</a></li>
                    <li class="list-item"><a href="./navigation-component/navigation.html">Navigation</a></li>
                    <li class="list-item"><a href="./toast-component/toast.html">Toast</a></li>
                    <li class="list-item"><a href="./text-utilities/text-utilities.html">Typography</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
                <h4 class="h4">Installation Guide</h4>
                <h5 class="h5">CSS</h5>
                <p>The UI library can be easily installed by placing the below code in the head tag.</p>
                <div class="code-example">
                    <pre><code class="xml">
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://pro.fontawesome.com/releases/v5.10.0/css/all.css&quot; integrity=&quot;sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p&quot; crossorigin=&quot;anonymous&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;../smartui.css&quot;&gt;
                    </code></pre>
                </div>
                <h5 class="h5">JS</h5>
                <p>Some of the components require the use of JavaScript to function. The below script can be placed just before the body tag ends. Make sure to place the script before your other JS scripts.</p>
                <div class="code-example">
                    <pre><code class="xml">
                        &lt;script src=&quot;smartui.js&quot;&gt;&lt;/script&gt;
                    </code></pre>
                </div>
                <h5 class="h5">Starter Template</h5>
                <p>Below is the starter template code which can be used to build your app on top of it. Happy Coding!</p>
                <div class="code-example">
                    <pre><code class="xml">
                        &lt;html lang=&quot;en&quot;&gt;
                        &lt;head&gt;
                            &lt;meta charset=&quot;UTF-8&quot;&gt;
                            &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;IE=edge&quot;&gt;
                            &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
                            &lt;link rel=&quot;stylesheet&quot; href=&quot;https://pro.fontawesome.com/releases/v5.10.0/css/all.css&quot; integrity=&quot;sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p&quot; crossorigin=&quot;anonymous&quot;/&gt;
                            &lt;link rel=&quot;stylesheet&quot; href=&quot;../smartui.css&quot;&gt;
                            &lt;title&gt;Smart UI&lt;/title&gt;
                        &lt;/head&gt;
                        &lt;body&gt;
                        
                            &lt;h1 class=&quot;h1&quot;&gt;Hello World&lt;/h1&gt;
                            
                            &lt;script src=&quot;smartui.js&quot;&gt;&lt;/script&gt;
                        &lt;/body&gt;
                        &lt;/html&gt;
                    </code></pre>
                </div>

                
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.0/build/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
</body>
</html>